<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
<script src="https://kit.fontawesome.com/2af97755c5.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">

<form action="result">
 <i class="fas fa-search"></i>
    <input type="text" name="search_box" placeholder="What are you looking for">
    <button type="submit">Search</button>

</form>


</div>

<!--main products boxes-->


<div class="box">

<div class="box1">

        <div class="product-image">
         {% if Product_image == 'NA' %}
        <img src="{% static 'images/no_product_found.png' %}" alt="">
        {% else %}
         <img src="{{Product_image}}" alt="">
        {% endif %}

        </div>
        <div class="product-name">
            <p>{{amazon_name}}</p>
        </div>
        <div class="product-btn">
            <img src="{% static 'images/amazon_logo (2).png'%}" alt="">
            <div class="product-price">
                <h3>{{amazon_price}}</h3>
            </div>
            <a href="{{product_link}}">
            <button type="submit">BUY</button>
            </a>

        </div>




</div>


<div class="box1">

    <div class="product-image">
    <img src="{{flipkart_Product_image}}" alt="">
    </div>
    <div class="product-name">
        <p>{{flipkart_name}}</p>
    </div>
    <div class="product-btn">
        <img src="{% static 'images/flipkart_logo.png'%}" alt="">
        <div class="product-price">
            <h3>{{flipkart_price}}</h3>
        </div>
        <a href="{{flipkart_product_link}}">
            <button type="submit">BUY</button>
        </a>
    </div>

</div>


<div class="box1">

    <div class="product-image">
        {% if chroma_Product_image == 'NA' %}
        <img src="{% static 'images/no_product_found.png' %}" alt="">
        {% else %}
    <img src="{{chroma_Product_image}}" alt="">
        {% endif %}
    </div>
    <div class="product-name">
        {% if chroma_Product_image == 'NA' %}
        <p>No Product Found</p>
        {% else %}
        <p>{{chroma_name}}</p>
        {% endif %}
    </div>
    <div class="product-btn">
        <img src="{% static 'images/croma_logo.png'%}" alt="">
        <div class="product-price">
            <h3>{{chroma_price}}</h3>
        </div>
        <a href="{{chroma_product_link}}">
            {% if chroma_Product_image == 'NA' %}
            <button type="submit" disabled>BUY</button>
            {% else %}
            <button type="submit">BUY</button>
            {% endif %}
        </a>
    </div>

</div>



<div class="box1">

    <div class="product-image">
        {% if reliance_Product_image == 'NA' %}
        <img src="{% static 'images/no_product_found.png' %}" alt="">
        {% else %}
    <img src="{{reliance_Product_image}}" alt="">
        {% endif %}
    </div>
    <div class="product-name">
        {% if reliance_Product_image == 'NA' %}
        <p>No Product Found</p>
        {% else %}
        <p>{{reliance_name}}</p>
        {% endif %}
    </div>
    <div class="product-btn">
        <img src="{% static 'images/reliance_logo.svg'%}" alt="">
        <div class="product-price">
            <h3>{{reliance_price}}</h3>
        </div>
        <a href="{{reliance_product_link}}">
            {% if reliance_Product_image == 'NA' %}
            <button type="submit" disabled>BUY</button>
            {% else %}
            <button type="submit">BUY</button>
            {% endif %}
        </a>
    </div>

</div>






</div>


{% if Product_image == 'NA' %}
<h1> Hello Himanshu</h1>
{% else %}
<h2>HUUU</h2>
{% endif %}



</body>
</html>